
/*mixvar*/
@import "mixvar/maps_mix_extd";
@import "mixvar/variables";
@import "mixvar/boton";
@import "mixvar/barra_nav_footer";

/*Pages*/
@import "pages/index";
@import "pages/recetarios";
@import "pages/galeria_tematica";
@import "pages/nosotros";
@import "pages/comentarios";
/*Subpages*/
@import "subpages/cocinate_algo";
@import "subpages/te_hiciste_un_postre";
@import "subpages/te_pinto_un_trago";




