/****** INICIO PAGINA PRINCPAL (INDEX) ******/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 0%;
  padding: 0%;
}

#grid_index {
  display: grid;
  grid-template-areas:
    "cabecera"
    "principal"
    "novedades"
    "footer";
}

/*main*/

main {
  grid-area: principal;
}

#main_principal {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(../imagenes/imagen2.webp);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: unset;
  background-position: center;
  height: 80vh;
  position: relative;
  overflow: hidden;
}

.text_main h1 {
  font-family: $font-family-main;
  font-style: $font-style-main;
  font-weight: $font-weight-main;
  font-size: 40px;
  color: $font-color-main;
}

.text_main h3 {
  font-family: $font-family-main;
  font-style: $font-style-main;
  font-weight: $font-weight-main;
  font-size: 35px;
  color: $font-color-main;
}

.text_main {
  animation: fadeInUp;
  animation-duration: 3s;
}

/*Novedades*/

.card_content {
  padding: 1%;
}

.title_novedades {
  text-decoration: none;
  justify-content: center;
  display: flex;
  text-align: $font-aling-titulos-itermedios;
  margin: $font-margin-titulos-itermedios;
  font-size: $font-size-titulos-itermedios;
  color: $font-color-titulos-itermedios;
  font-weight: $font-weight-titulos-itermedios;
  font-family: font-family-titulos-itermedios;
  padding: 2%;
}

.title_novedades h3 {
  font-family: font-family-titulos-itermedios;
  font-style: $font-style-titulos-itermedios;
  font-weight: $font-weight-titulos-itermedios;
}

.fondo_content {
  background-color: #eee;
}

.col img {
  width: 100%;
  height: 100%;
  max-width: 30rem;
  max-height: 35rem;
  margin: auto;
  padding-bottom: 10px;
}

@media (min-width: 768px) {
  #grid_index {
    grid-template-areas:
      "cabecera cabecera cabecera"
      "principal principal principal"
      "novedades novedades"
      "footer footer";
  }

  .text_main h1 {
    -webkit-text-stroke: $font-webkit-text-stroke-main;
    font-size: 60px;
    font-style: $font-style-responsive-main;
  }

  .text_main h3 {
    -webkit-text-stroke: $font-webkit-text-stroke-main;
    font-size: 50px;
    font-style: $font-style-responsive-main;
  }

  .title_novedades h3 {
    font-size: 60px;
  }
}

@media (min-width: 1024px) {
  .title_novedades {
    padding: 0%;
  }

  .text_main h1 {
    font-size: 80px;
  }

  .text_main h3 {
    font-size: 70px;
  }

  .title_novedades h3 {
    font-size: 80px;
  }
}

.card-footer {
  background-color: #fff;
  border-top: 0px #fff;
}

.btn_card_p {
  padding: 1px;
  margin-bottom: 10px;
}

/****** FIN PAGINA PRINCPAL (INDEX) ******/
